###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
POSTGRES_PASSWORD=!ChangeMe!
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Pour Docker : utiliser "database" comme hostname
# DATABASE_URL="postgresql://app:${POSTGRES_PASSWORD}@database:5432/app?serverVersion=16&charset=utf8"
# Pour dev local sans Docker :
DATABASE_URL="postgresql://app:${POSTGRES_PASSWORD}@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
